/* Font & Text Properties */

.serif{

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    color:floralwhite;
}

.sansserif{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: oblique ;
    text-align: right;
    color:floralwhite;
}

.monospace{

    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-style: normal;
    text-align: justify;
    color:floralwhite;
}

h1{
    text-shadow: 2px 2px;
    
}

h1, h2{

    color:#ff0080;
    font-size: 25px;
    font-weight: normal;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color:pink;
    /* text-indent: 3px; */
}


.aling{

    text-align: center;
    font-variant: small-caps;
    color:floralwhite;
}

.google{
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    color:floralwhite;
}

a{
    text-decoration: none;
}

ul.list{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: floralwhite;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 5px;
    list-style-type: upper-roman;
}

/* Background */

.strawberry{

    background-color:#ff0080;

}

.cake{

    background-color:#804000;
}

.gloss{
    
    background-color:#d53032;  
}

#bg{
    height:1000px;
    width: 1000px;
    background-color:#fd475d;
    background-image: url(../img/cake.png.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}
